@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .icon {
        height: 20px;
        width: 20px;
        background-image: url("./assets/icons/clock.svg");
        background-color: red;
        -webkit-mask: url("./assets/icons/clock.svg") no-repeat center;
        mask: url("./assets/icons/clock.svg") no-repeat center;
    }

    .checked {
        color: orange;
    }
    .avatar {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
    }

    .carrousel{
        width: 200000px;
        background-color: blueviolet;
    }
    .avatar-image {
        background-size: cover;
        
    }
}